:root{
    --bg-color:#bbdefb;
    --bg-game-card: #ff7043;
    --bg-correct-card:#66bb6a;
    --bg-wrong-card: #ef5350;
    --bg-sample-card: #90caf9;
    --bg-hover-sample-card: #42a5f5;
}

html
body{
    height: 100vh;
}

body{
    background-color: var(--bg-color) ;
}

.full-size{
    height: 100%;
}

.game-container{
    padding: 2px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.game-container h1{
    margin: 0 0 0.3em 0;
}

.loader{
    margin-top: 20em;
}

.table-container{
    height: 700px;
    width: 700px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.medium-table{
    height: 700px;
    width: 1050px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(6, 1fr);
}

.hard-table{
    height: 875px;
    width: 1050px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(6, 1fr);
}

.insane-table{
    height: 1050px;
    width: 1225px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);
}

.card-container{
    background-color: var(--bg-game-card) ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transform: rotateY(180deg);
    animation: 2s hideCard linear;
    transition: transform 0.5s;
}

@keyframes hideCard {

    0%,70%{
        transform: rotateY(0);
    }
    100%{
        transform: rotateY(180deg);
    }
    
}

.card-container img{
    max-width: 80%;
    height: 80%;
    transform: scale(0);
    animation: 2s hideImage linear;
    transition: transform 0.5s;
}

@keyframes hideImage {
    0%,70%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

.card-container.active{
    transform: rotateY(0);
}

.card-container.correct{
    background-color: var(--bg-correct-card)  ;
    animation: removed-card-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    transform-origin: 0% 100%;
}

.win{
    background-color: var(--bg-correct-card)  ;
}

@keyframes removed-card-animation {
    0% {
        opacity: 1;
        transform: rotateZ(0);
}
 
    100% {
        opacity: 0;
        transform: rotateZ(90deg);
    }
}

.card-container.wrong{
    background-color: var(--bg-wrong-card);
}

.card-container.active img{
    transform: scale(1);
}

.game-nav{
    margin: 0 0 10px 0;
    position: relative;
}

.game-nav ul{
    display: flex;
    justify-content: space-around;
}

.game-nav h4{
    margin: 0.3em 0 0 0;
}

.poke-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poke-info h1{
    margin-bottom: 0;
}

.poke-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.sample-card{
    background-color: var(--bg-sample-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 8px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.769) 1px 2px 5px;
}

.sample-card h4{
    margin: -5px 0 0 0 ;
    text-transform: capitalize;
}

.sample-card:hover{
    background-color: var(--bg-hover-sample-card);
}

.menu-button{
    margin: 10px 25px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    outline: 0;
    border: none;
    border-radius: 2px;
    height: 54px;
    line-height: 54px;
    font-size: 15px;
    padding: 0 28px;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    background-color: var(--bg-hover-sample-card);
}

.reset-button{
    background-color: #fff;
    height: 3em;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0.6em;
    top: 0.6em;
    border-radius: 100%;
    transition: all 0.8s ease-in-out;
}

.reset-button img{
    height: fit-content;
    max-height: 2em;
}

.reset-button:hover{
    transform: rotate(720deg) scale(1.2);
}

.game-menu{
    text-align: center;
    margin-top: 20em ;
}
 

.menu-button:hover{
    background-color: var(--bg-sample-card);
}

.noselect {
    user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
  }

.back-to-menu{
    left: 0.6em;
}

.back-to-menu:hover{
    transform: rotate(-720deg) scale(1.2);
}